<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

    <ion-buttons slot="end">
      <!-- Tlačítkem otevřu stránku nastavení -->
      <ion-button (click)="openSettings()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="isOnHomePage('Image of the day')">
    <ion-card *ngIf="iotd$ | async; let iotd">
      <ion-img [src]="iotd.hdurl"></ion-img>
      <ion-card-header (click)="setOpen(true)">
        <ion-card-title>Image of the day</ion-card-title>
        <ion-card-subtitle>{{ iotd.title }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content (click)="setOpen(true)">
        {{ iotd.explanation.substring(0, iotd.explanation.indexOf(".") + 1) }}
      </ion-card-content>
      <ion-modal [isOpen]="isDetailOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>
                <ion-icon name="image"></ion-icon>
                Image of the day
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false)">
                  Close
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <h1><b>{{ iotd.title }}</b></h1>
            <ion-img [src]="iotd.hdurl"></ion-img>
            <h3>Explanation</h3>
            <p>
              {{ iotd.explanation }}
            </p>
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="isOnHomePage('Closest launch')">
    <ng-container *ngIf="launch$ | async; let launch">
      <ion-card>
        <div class="img-badge">
          <app-status-badge abbrev="{{launch.results[0].status.abbrev}}"
                            description="{{launch.results[0].status.description}}"></app-status-badge>
          <ion-img *ngIf="launch.results[0].image" [src]="launch.results[0].image"></ion-img>
        </div>
        <ion-card-header>
          <ion-card-title>Closest launch</ion-card-title>
          <ion-card-subtitle>{{ launch.results[0].name }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>{{ launch.results[0].launch_service_provider.name }}</p>
          <p>{{ launch.results[0].pad.location.name }}</p>
          <hr>
          <app-countdown [dtString]="launch.results[0].window_start"></app-countdown>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>
